#type{
text-align: center;
color: black;
text-transform: uppercase;
font-size:  30px;
}
#name{
text-align:  center;
color: blue;
opacity: 0.4;
font-size: 25px; 
}
#description{
text-align: justify;
background-color: white;
font-size:  20px;
}
#main{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19); 
}
.div{
         
    border: 5px solid #ccc;
    width: 60vw;
    border-radius: 10px;
    margin: 25px auto;
    padding: 4px;

}